.dela-app {
  background: url('/src/components/dela/media/delaD.webp');
  background-size: 5%;
  background-color: #1a1a1a;

  .left-part {

    header > .app-name  {
      max-width: 25%;  
    }
  
    main { // folders + group 
    }
  }
  
  .middle-part {
    main {
      .list-element {
        @include grid_template( auto / 1fr auto );
        align-items: center;

        padding-left: 1%;
        border: 1px solid rgba(255, 255, 255, 0.5);

        &__text {
          @include textellipsis();

          font-weight: 300;
          font-size: $middle-font;
        }

        &__check-btn {
          
          img {
          }
        }
      }
    }
  }
  
  .right-part {
    main {
    }
  }
}