/* - Common settings - */
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto:wght@100;300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

/*==========Var==========Start*/
/*==========Var==========End*/
/*==========Mixin==========Start*/
/*==========Mixin==========End*/
html, body, #root {
  height: 100%;
  width: 100%;
  color: white;
}

/* ------------------- */
.error {
  height: 100%;
  width: 100%;
  background: url("/src/components/404error/media/SpisokD.webp");
  background-size: 5%;
  background-color: black;
}
.error .filter {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  row-gap: 3%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.error .filter img {
  justify-self: center;
  -ms-flex-item-align: end;
      align-self: end;
  max-width: 20%;
}
.error .filter p {
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: start;
  font-family: "Roboto";
  font-size: 150%;
  font-weight: 400;
}

.mainpage {
  height: 100%;
  width: 100%;
  background: url("/src/components/mainpage/media/spisokD.webp");
  background-size: 5%;
  background-color: black;
  display: grid;
  grid-template: 90%/repeat(3, 30%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}
.mainpage .proboval {
  background: url("/src/components/mainpage/media/probovalD.webp");
}
.mainpage .proboval .filter {
  border: 7px double rgb(166, 255, 0);
}
.mainpage .proboval .filter:hover .button > img {
  border: 1px solid rgb(166, 255, 0);
}
.mainpage .garderob {
  background: url("/src/components/mainpage/media/garderobD.webp");
}
.mainpage .garderob .filter {
  border: 7px double rgb(255, 200, 91);
}
.mainpage .garderob .filter:hover .button > img {
  border: 1px solid rgb(255, 200, 91);
}
.mainpage .dela {
  background: url("/src/components/mainpage/media/delaD.webp");
}
.mainpage .dela .filter {
  border: 7px double rgb(30, 225, 255);
}
.mainpage .dela .filter:hover .button > img {
  border: 1px solid rgb(30, 225, 255);
}
.mainpage .proboval, .mainpage .garderob, .mainpage .dela {
  background-size: 10%;
  background-color: black;
  border-radius: 12%/8%;
}
.mainpage .proboval .filter, .mainpage .garderob .filter, .mainpage .dela .filter {
  height: 100%;
  padding: 5%;
  border-radius: 12%/8%;
}
.mainpage .proboval .filter .header, .mainpage .garderob .filter .header, .mainpage .dela .filter .header {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.mainpage .proboval .filter .description, .mainpage .garderob .filter .description, .mainpage .dela .filter .description {
  font-family: "Edu SA Beginner";
}
.mainpage .designed {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  font-family: "Roboto";
  font-size: 100%;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.mainpage .designed span {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

/* Card-animation */
.proboval .filter, .garderob .filter, .dela .filter {
  display: grid;
  grid-template: 1fr 0fr 0fr/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all linear 0.3s 0.2s;
  -o-transition: all linear 0.3s 0.2s;
  transition: all linear 0.3s 0.2s;
}
.proboval .filter .header .spisokIMG, .garderob .filter .header .spisokIMG, .dela .filter .header .spisokIMG {
  max-width: 80%;
  -webkit-transition: all linear 0.25s 0.25s;
  -o-transition: all linear 0.25s 0.25s;
  transition: all linear 0.25s 0.25s;
}
.proboval .filter .header .subbrandIMG, .garderob .filter .header .subbrandIMG, .dela .filter .header .subbrandIMG {
  max-width: 75%;
  -webkit-transition: all linear 0.25s 0.25s;
  -o-transition: all linear 0.25s 0.25s;
  transition: all linear 0.25s 0.25s;
}
.proboval .filter .description, .garderob .filter .description, .dela .filter .description {
  font-size: 0%;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: font-size linear 0.1s 0.1s, color linear 0.1s;
  -o-transition: font-size linear 0.1s 0.1s, color linear 0.1s;
  transition: font-size linear 0.1s 0.1s, color linear 0.1s;
}
.proboval .filter .button img, .garderob .filter .button img, .dela .filter .button img {
  max-width: 0%;
  -webkit-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
.proboval .filter:hover, .garderob .filter:hover, .dela .filter:hover {
  display: grid;
  grid-template: 0fr 1fr 0fr/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.proboval .filter:hover .header .spisokIMG, .garderob .filter:hover .header .spisokIMG, .dela .filter:hover .header .spisokIMG {
  max-width: 50%;
  -webkit-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.proboval .filter:hover .header .subbrandIMG, .garderob .filter:hover .header .subbrandIMG, .dela .filter:hover .header .subbrandIMG {
  max-width: 45%;
  -webkit-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.proboval .filter:hover .description, .garderob .filter:hover .description, .dela .filter:hover .description {
  font-size: 125%;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 2px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  color: white;
  -webkit-transition: font-size linear 0.3s, color linear 0.5s 0.3s;
  -o-transition: font-size linear 0.3s, color linear 0.5s 0.3s;
  transition: font-size linear 0.3s, color linear 0.5s 0.3s;
}
.proboval .filter:hover .button img, .garderob .filter:hover .button img, .dela .filter:hover .button img {
  max-width: 40%;
  border-radius: 8%/25%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all ease-out 0.15s 0.3s;
  -o-transition: all ease-out 0.15s 0.3s;
  transition: all ease-out 0.15s 0.3s;
}