/* - Common settings - */
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto:wght@100;300;400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

/*==========Var==========Start*/
/*==========Var==========End*/
/*==========Mixin==========Start*/
/*==========Mixin==========End*/
html, body, #root {
  height: 100%;
  color: white;
}

.proboval-app, .garderob-app, .dela-app {
  height: 100%;
}
.proboval-app *, .garderob-app *, .dela-app * {
  font-family: "Roboto";
  font-size: 100%;
  font-weight: 300;
  letter-spacing: 0.08rem;
  word-spacing: 0.1rem;
}
.proboval-app * ::-webkit-scrollbar, .garderob-app * ::-webkit-scrollbar, .dela-app * ::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0);
}
.proboval-app * ::-webkit-scrollbar-thumb, .garderob-app * ::-webkit-scrollbar-thumb, .dela-app * ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #535353;
}
.proboval-app * button, .garderob-app * button, .dela-app * button {
  display: grid;
  grid-template: auto/1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.proboval-app * button p, .garderob-app * button p, .dela-app * button p {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.proboval-app * button:hover, .garderob-app * button:hover, .dela-app * button:hover {
  background-color: rgb(255, 255, 255);
  -webkit-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.proboval-app * button:hover p, .garderob-app * button:hover p, .dela-app * button:hover p {
  color: black;
}
.proboval-app * button:hover .icons, .garderob-app * button:hover .icons, .dela-app * button:hover .icons {
  -webkit-filter: invert(0%);
          filter: invert(0%);
}
.proboval-app .filter, .garderob-app .filter, .dela-app .filter {
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.proboval-app .wrapper, .garderob-app .wrapper, .dela-app .wrapper {
  display: grid;
  grid-template: 1fr/0.35fr 1fr 0.35fr;
  -webkit-column-gap: 1%;
     -moz-column-gap: 1%;
          column-gap: 1%;
  padding: 1%;
}
.proboval-app .icons, .garderob-app .icons, .dela-app .icons {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.proboval-app .left-part, .proboval-app .middle-part, .proboval-app .right-part, .garderob-app .left-part, .garderob-app .middle-part, .garderob-app .right-part, .dela-app .left-part, .dela-app .middle-part, .dela-app .right-part {
  display: grid;
  grid-template: auto 1fr auto/1fr;
  height: 96.5vh;
  row-gap: 1%;
  background-color: rgba(0, 0, 0, 0.75);
}
.proboval-app .left-part header, .proboval-app .middle-part header, .proboval-app .right-part header, .garderob-app .left-part header, .garderob-app .middle-part header, .garderob-app .right-part header, .dela-app .left-part header, .dela-app .middle-part header, .dela-app .right-part header {
  display: grid;
  grid-template: 1fr/1fr auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 200%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.proboval-app .left-part main, .proboval-app .middle-part main, .proboval-app .right-part main, .garderob-app .left-part main, .garderob-app .middle-part main, .garderob-app .right-part main, .dela-app .left-part main, .dela-app .middle-part main, .dela-app .right-part main {
  display: grid;
  grid-template: repeat(auto-fit, auto)/1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  gap: 1.25rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.proboval-app .left-part footer, .proboval-app .middle-part footer, .proboval-app .right-part footer, .garderob-app .left-part footer, .garderob-app .middle-part footer, .garderob-app .right-part footer, .dela-app .left-part footer, .dela-app .middle-part footer, .dela-app .right-part footer {
  display: grid;
  grid-template: 1;
}
.proboval-app .left-part footer button, .proboval-app .middle-part footer button, .proboval-app .right-part footer button, .garderob-app .left-part footer button, .garderob-app .middle-part footer button, .garderob-app .right-part footer button, .dela-app .left-part footer button, .dela-app .middle-part footer button, .dela-app .right-part footer button {
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.proboval-app .left-part footer button p, .proboval-app .middle-part footer button p, .proboval-app .right-part footer button p, .garderob-app .left-part footer button p, .garderob-app .middle-part footer button p, .garderob-app .right-part footer button p, .dela-app .left-part footer button p, .dela-app .middle-part footer button p, .dela-app .right-part footer button p {
  font-weight: 400;
  font-size: 125%;
}
.proboval-app .left-part, .garderob-app .left-part, .dela-app .left-part {
  padding: 2%;
}
.proboval-app .left-part main, .garderob-app .left-part main, .dela-app .left-part main {
  padding: 4%;
}
.proboval-app .left-part main .folder, .garderob-app .left-part main .folder, .dela-app .left-part main .folder {
  display: grid;
  grid-template: auto 1fr auto/1fr;
  row-gap: 0.8rem;
}
.proboval-app .left-part main .folder__name, .proboval-app .left-part main .folder__group-list, .proboval-app .left-part main .folder__group, .garderob-app .left-part main .folder__name, .garderob-app .left-part main .folder__group-list, .garderob-app .left-part main .folder__group, .dela-app .left-part main .folder__name, .dela-app .left-part main .folder__group-list, .dela-app .left-part main .folder__group {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.proboval-app .left-part main .folder__name, .garderob-app .left-part main .folder__name, .dela-app .left-part main .folder__name {
  display: grid;
  grid-template: 1fr/1fr auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 125%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.proboval-app .left-part main .folder__name span, .garderob-app .left-part main .folder__name span, .dela-app .left-part main .folder__name span {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.proboval-app .left-part main .folder__name .info-btn img, .garderob-app .left-part main .folder__name .info-btn img, .dela-app .left-part main .folder__name .info-btn img {
  width: 24px;
}
.proboval-app .left-part main .folder__group-list, .garderob-app .left-part main .folder__group-list, .dela-app .left-part main .folder__group-list {
  display: grid;
  grid-template: repeat(auto-fit, auto)/1fr;
  row-gap: 0.3rem;
}
.proboval-app .left-part main .folder__group, .garderob-app .left-part main .folder__group, .dela-app .left-part main .folder__group {
  font-size: 100%;
}
.proboval-app .left-part main .folder__add-group-btn, .garderob-app .left-part main .folder__add-group-btn, .dela-app .left-part main .folder__add-group-btn {
  padding: 0.5%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.proboval-app .left-part main .folder__add-group-btn p, .garderob-app .left-part main .folder__add-group-btn p, .dela-app .left-part main .folder__add-group-btn p {
  font-weight: 400;
  font-size: 100%;
}
.proboval-app .left-part main .folder__add-group-btn img, .garderob-app .left-part main .folder__add-group-btn img, .dela-app .left-part main .folder__add-group-btn img {
  max-width: 60%;
}
.proboval-app .middle-part, .garderob-app .middle-part, .dela-app .middle-part {
  padding: 0.7%;
}
.proboval-app .middle-part header span, .garderob-app .middle-part header span, .dela-app .middle-part header span {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.proboval-app .middle-part main, .garderob-app .middle-part main, .dela-app .middle-part main {
  padding: 1.4%;
}
.proboval-app .right-part, .garderob-app .right-part, .dela-app .right-part {
  padding: 2%;
}
.proboval-app .right-part header, .garderob-app .right-part header, .dela-app .right-part header {
  height: 48px;
}
.proboval-app .right-part header span, .garderob-app .right-part header span, .dela-app .right-part header span {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.proboval-app .right-part main, .garderob-app .right-part main, .dela-app .right-part main {
  padding: 4%;
}

/* ------------------- */
.error {
  height: 100%;
  width: 100%;
  background: url("/src/components/404error/media/SpisokD.webp");
  background-size: 5%;
  background-color: black;
}
.error .filter {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  row-gap: 3%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.error .filter img {
  justify-self: center;
  -ms-flex-item-align: end;
      align-self: end;
  max-width: 20%;
}
.error .filter p {
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: start;
  font-family: "Roboto";
  font-size: 150%;
  font-weight: 400;
}

.mainpage {
  height: 100%;
  width: 100%;
  background: url("../components/mainpage/media/SpisokD.webp");
  background-size: 5%;
  background-color: black;
  display: grid;
  grid-template: 90%/repeat(3, 30%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}
.mainpage .proboval-card {
  background: url("/src/components/mainpage/media/probovalD.webp");
}
.mainpage .proboval-card .wrapper {
  border: 7px double rgb(166, 255, 0);
}
.mainpage .proboval-card .wrapper:hover .button > img {
  border: 1px solid rgb(166, 255, 0);
}
.mainpage .garderob-card {
  background: url("/src/components/mainpage/media/garderobD.webp");
}
.mainpage .garderob-card .wrapper {
  border: 7px double rgb(255, 200, 91);
}
.mainpage .garderob-card .wrapper:hover .button > img {
  border: 1px solid rgb(255, 200, 91);
}
.mainpage .dela-card {
  background: url("/src/components/mainpage/media/delaD.webp");
}
.mainpage .dela-card .wrapper {
  border: 7px double rgb(30, 225, 255);
}
.mainpage .dela-card .wrapper:hover .button > img {
  border: 1px solid rgb(30, 225, 255);
}
.mainpage .proboval-card, .mainpage .garderob-card, .mainpage .dela-card {
  background-size: 10%;
  background-color: black;
  border-radius: 12%/8%;
}
.mainpage .proboval-card .wrapper, .mainpage .garderob-card .wrapper, .mainpage .dela-card .wrapper {
  height: 100%;
  padding: 5%;
  border-radius: 12%/8%;
}
.mainpage .proboval-card .wrapper .header, .mainpage .garderob-card .wrapper .header, .mainpage .dela-card .wrapper .header {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-items: center;
  align-items: center;
}
.mainpage .proboval-card .wrapper .description, .mainpage .garderob-card .wrapper .description, .mainpage .dela-card .wrapper .description {
  font-family: "Edu SA Beginner";
}
.mainpage .designed {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  font-family: "Roboto";
  font-size: 100%;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.mainpage .designed span {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

/* Card-animation */
.proboval-card .filter, .garderob-card .filter, .dela-card .filter {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.proboval-card .wrapper, .garderob-card .wrapper, .dela-card .wrapper {
  display: grid;
  grid-template: 1fr 0fr 0fr/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all linear 0.3s 0.2s;
  -o-transition: all linear 0.3s 0.2s;
  transition: all linear 0.3s 0.2s;
}
.proboval-card .wrapper .header .spisokIMG, .garderob-card .wrapper .header .spisokIMG, .dela-card .wrapper .header .spisokIMG {
  max-width: 80%;
  -webkit-transition: all linear 0.25s 0.25s;
  -o-transition: all linear 0.25s 0.25s;
  transition: all linear 0.25s 0.25s;
}
.proboval-card .wrapper .header .subbrandIMG, .garderob-card .wrapper .header .subbrandIMG, .dela-card .wrapper .header .subbrandIMG {
  max-width: 75%;
  -webkit-transition: all linear 0.25s 0.25s;
  -o-transition: all linear 0.25s 0.25s;
  transition: all linear 0.25s 0.25s;
}
.proboval-card .wrapper .description, .garderob-card .wrapper .description, .dela-card .wrapper .description {
  font-size: 0%;
  color: rgba(255, 255, 255, 0);
  -webkit-transition: font-size linear 0.1s 0.1s, color linear 0.1s;
  -o-transition: font-size linear 0.1s 0.1s, color linear 0.1s;
  transition: font-size linear 0.1s 0.1s, color linear 0.1s;
}
.proboval-card .wrapper .button img, .garderob-card .wrapper .button img, .dela-card .wrapper .button img {
  max-width: 0%;
  -webkit-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
.proboval-card .filter:hover, .garderob-card .filter:hover, .dela-card .filter:hover {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.proboval-card .wrapper:hover, .garderob-card .wrapper:hover, .dela-card .wrapper:hover {
  display: grid;
  grid-template: 0fr 1fr 0fr/1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.proboval-card .wrapper:hover .header .spisokIMG, .garderob-card .wrapper:hover .header .spisokIMG, .dela-card .wrapper:hover .header .spisokIMG {
  max-width: 50%;
  -webkit-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.proboval-card .wrapper:hover .header .subbrandIMG, .garderob-card .wrapper:hover .header .subbrandIMG, .dela-card .wrapper:hover .header .subbrandIMG {
  max-width: 45%;
  -webkit-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
}
.proboval-card .wrapper:hover .description, .garderob-card .wrapper:hover .description, .dela-card .wrapper:hover .description {
  font-size: 150%;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 2px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  color: white;
  -webkit-transition: font-size linear 0.3s, color linear 0.5s 0.3s;
  -o-transition: font-size linear 0.3s, color linear 0.5s 0.3s;
  transition: font-size linear 0.3s, color linear 0.5s 0.3s;
}
.proboval-card .wrapper:hover .button img, .garderob-card .wrapper:hover .button img, .dela-card .wrapper:hover .button img {
  max-width: 40%;
  border-radius: 8%/25%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all ease-out 0.15s 0.3s;
  -o-transition: all ease-out 0.15s 0.3s;
  transition: all ease-out 0.15s 0.3s;
}

.dela-app {
  background: url("/src/components/dela/media/delaD.webp");
  background-size: 5%;
  background-color: #1a1a1a;
}
.dela-app .left-part header > .app-name {
  max-width: 25%;
}
.dela-app .middle-part main .list-element {
  display: grid;
  grid-template: auto/1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.dela-app .middle-part main .list-element__text {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-weight: 300;
  font-size: 125%;
}
.garderob-app {
  background: url("/src/components/garderob/media/garderobD.webp");
  background-size: 6%;
  background-color: #1a1a1a;
}

.proboval-app {
  background: url("/src/components/proboval/media/probovalD.webp");
  background-size: 6%;
  background-color: #1a1a1a;
}