@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto:wght@100;300;400&display=swap');

html, body, #root {
	height: 100%;
	color: white;
}

// common apps settings 

.proboval-app, .garderob-app, .dela-app {
	height: 100%;
  
  * { //font + scroll + btn
    font-family: 'Roboto';
    font-size: $standart-font;
    font-weight: 300;
    
    letter-spacing: 0.08rem;
    word-spacing: 0.1rem;

    ::-webkit-scrollbar {
      width: 4px;
      background-color: #00000000;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: #535353;
    }

    button {
      @include grid_template( auto / 1fr auto );
      align-items: center;      

      transition: all linear 0.2s;

      p {
        @include textellipsis();
      
      }
    }

    button:hover {
      background-color: rgb(255, 255, 255);
      transition: all linear 0.25s;

      p {
        color: black;
      }

      .icons {
        filter: invert(0%);
      }
    }
  }

  .filter {
    height: 100%;
    backdrop-filter: blur(10px);
  }

  .wrapper {
    @include grid_template( 1fr / 0.35fr 1fr 0.35fr );
    column-gap: 1%;
    padding: 1%;
  }

  .icons { //invert all icons like: plus, ?, arrow and etc.
    filter: invert(100%);
  }
}