.proboval-app, .garderob-app, .dela-app {
  
  .left-part, .middle-part, .right-part { // header, main, footer
    @include grid_template( auto 1fr auto / 1fr );
    height: 96.5vh;
    row-gap: 1%;

    background-color: rgba(0, 0, 0, 0.75);

    header {
      @include grid_template( 1fr / 1fr auto );
      align-items: end;

      font-size: $title-font;
      border-bottom: $thin-border;
    }

    main {
      @include grid_template( repeat(auto-fit, auto) / 1fr );
      align-content: start;
      gap: 1.25rem;  

      overflow-x: hidden;
      overflow-y: auto;
    
      max-height: 100%;

      border: $thin-border;
    }

    footer {
      @include grid_template( 1fr / 1fr );

      button {
        font-weight: 400;
        border: $thin-border;

        p {

          font-weight: 400;
          font-size: $middle-font;  
        }
      }
    }
  }

  .left-part {
    padding: 2%;

    main {
      padding: 4%;

      .folder {
        @include grid_template( auto 1fr auto / 1fr );
        row-gap: 0.8rem;

        &__name, &__group-list, &__group {
          @include textellipsis();
        }

        &__name {
          @include grid_template( 1fr / 1fr auto );
          align-items: end;

          font-size: $middle-font;
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
          
          span {
            @include textellipsis();
          }

          input {
            @include textellipsis();
            background-color: rgba(255, 255, 255, 0);
            color: white;
            height: 80%;
          }

          .info-btn {
            img {
              width: 24px
            }
          }
        }

        &__group-list {
          @include grid_template( repeat(auto-fit, auto) / 1fr );
          row-gap: 0.3rem;
        }

        &__group {
          margin-left: 5%;
          font-size: $standart-font;
          cursor: default;
        }

        &__group:hover {
          text-decoration: underline;
        }

        &__add-group-btn {
          padding: 0.5%;
          border: $thin-border;
    
          p {
            font-weight: 400;
            font-size: $standart-font;
          }

          img {
            max-width: 60%;
          }
        }
      }
    }
  }

  .middle-part {
    padding: 0.7%;

    header {
      span{
        @include textellipsis();
        height: 70%;
      }
      
      input {
        @include textellipsis();
        background-color: rgba(255, 255, 255, 0);
        color: white;
        margin-bottom: 0.3%;
        height: 70%;
      }
    }

    main {
      padding: 1.4%;
    }
  }

  .right-part {
    padding: 2%;

    header {
      height: 48px;

      span{
        @include textellipsis();
        height: 70%;
      }
      
      input {
        @include textellipsis();
        background-color: rgba(255, 255, 255, 0);
        color: white;
        margin-bottom: 0.2%;
        height: 70%;
      }
    }

    main {
      padding: 4%;
    }
  }
}