/*==========Var==========Start*/

$proboval-clr: rgb(166,255,0);
$garderob-clr: rgb(255,200,91);
$dela-clr: rgb(30,225,255);

$thin-border: 1px solid rgba(255, 255, 255, 0.2);

// Desktop-font

$title-font: 175%;          //28px
$title-font-rem: 2rem;      //32px

$standart-font: 100%;       //16px?
$middle-font: 125%;         //20px
$large-font: 150%;          //24px

$standart-font-rem: 1rem;   //16px
$middle-rem: 1.25rem;       //20px
$large-rem: 1.5rem;         //24px

// Mobile-font
$M-main-title-size: 30px;
$M-sub-title-size: 26px;

$M-big-text-size: 24px;
$M-mid-text-size: 20px;
$M-sml-text-size: 16px;

/*==========Var==========End*/



/*==========Mixin==========Start*/

@mixin textellipsis() { 
//@include textellipsis();
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin grid_template($template) { 
//@include grid_template($template);
// Просто грид сетка

  display: grid;
  grid-template: $template;
}

@mixin grid_center($template) {
//@include grid_center($template);
//Выравнит вертикально и горизонтально

  display: grid;
  grid-template: $template;
  align-items: center;
  text-align: center;
}

@mixin grid_items( $j-items, $a-items) { 
//@include grid_items($j-items, $a-items);
//Выравнивание содержимого

  justify-items: $j-items; //горизонтальное выравнивание содержимого
  align-items: $a-items; //вертикальное выравнивание содержимого
  //значения: start, end, center
}

@mixin grid_self( $j-self, $a-self) { 
//@include grid_self( $j-self, $a-self);
//Выравнивание содержимого конкретного self
  
  justify-self: $j-self; //горизонтальное выравнивание содержимого
  align-self: $a-self; //вертикальное выравнивание содержимого
  //значения: start, end, center
}

@mixin grid_content($j-content, $a-content) { 
//@include grid_content($j-content, $a-content);
//Выравнивание сетки

  justify-content: $j-content; //горизонтальное выравнивание сетки
  align-content: $a-content; //вертикальное выравнивание сетки
  //значения: start, end, center, stretch, space-around, space-evenly, space-between
}

@mixin grid_auto-fit($auto-fit-width, $auto-fit-gap) { 
//@include grid_auto-fit($auto-fit-width, $auto-fit-gap);
//карточки которые будут переноситься вниз при нехватке места

  display: grid;
  grid-template-columns: repeat(auto-fit, $auto-fit-width);
  gap: $auto-fit-gap;
  justify-content: space-evenly;

  //создает карточки заданной ширины и заданным гэпом
}

/*==========Mixin==========End*/